<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Demos of MD-BOOtstrap component</h2>
            <h3>Just some components to show, it works</h3>
        </div>
    </div>
    
    <br />
    <div class="row">
        <div class="col-12">
            <h3> Card </h3>
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
    </div>
    
    <br />
    <div class="row">
        <div class="col-12">
            <h3>Table</h3>
            <table class="table-bordered" mdbTable striped="true">
                <thead class="black white-text">
                  <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let el of elements">
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.first}}</td>
                    <td>{{el.last}}</td>
                    <td>{{el.handle}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
    <br />
    
    <div class="row">
        <div class="col-12">
            <h3>Buttons toolbar</h3>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>1</button>
                    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>2</button>
                    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>3</button>
                    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>4</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>5</button>
                    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>6</button>
                    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>7</button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>8</button>
                </div>
            </div> 
        </div>
    </div>
    
    <br />
    
    <div class="row">
        <div class="col-12">
            <h3>Carousel</h3>
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                  <div class="view w-100">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Light mask</h3>
                    <p>First text</p>
                  </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <div class="view w-100">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                    <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Strong mask</h3>
                    <p>Secondary text</p>
                  </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <div class="view w-100">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Slight mask</h3>
                    <p>Third text</p>
                  </div>
                </mdb-carousel-item>
              </mdb-carousel>          
        </div>
    </div>
</div>